/*
Author: Ruth P
*/
/* box sizing: http://www.paulirish.com/2012/box-sizing-border-box-ftw */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size:62.5%; /* http://snook.ca/archives/html_and_css/font-size-with-rem */
    color:@black;
    font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
    letter-spacing:1.1;

    /* sticky footer */
    position: relative;
    min-height: 100%;
}

body {
    /* Default font-size */
    font-size:16px;
    font-size:1.6rem;

    /* sticky footer - match footer height */
    margin-bottom: 30px;
}

header {
    text-align:center;
    margin-top:20px;
}

.alert {
   width:40%;
}

.well{
    text-align:left!important;
}

footer {
    text-align:center;
    background-color:#eee;
    /* sticky footer */
    position: absolute;
    bottom: 0;
    width: 100%;
    height:30px;
    line-height:30px; /* Vertically center the text there */
}


/*----------------------------------------------------
Typography
-----------------------------------------------------*/

h1,h2,h3,h4,h5,h6,header{
	text-align: center;
}

h2{
    text-align: center;
    font-family: Georgia, serif;
    color: #404040;
    font-size: 20px;
}

li {
    font-size: 16px;
}

ul {
  list-style-type: none;
}

.navbar-brand
{
  font-family: 'Lato', sans-serif;
  color:red;
  font-size: 50px;
  margin-left: 100px!important;
}

/*----------------------------------------------------
Forms https://www.sanwebe.com/2014/08/css-html-forms-designs
-----------------------------------------------------*/
form {
    width: 700px;
    margin: 0 auto;
}

.error{
    color: red;
}

.form-group.required .control-label:after {
   content:"*";
   color:red;
}

label{
    color: #404040!important;
    font-size: 16px;
    font-family: Georgia, serif;
    font-weight: normal;
}

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="time"],
input[type="url"],
input[type="password"],
textarea,
select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%!important;
    padding: 7px;
    border-bottom: 2px solid #ddd;
    font: 18px Arial, Helvetica, sans-serif;
    height: 40px;
}

select{
    font-size: 18px!important;
}

textarea{
    resize:none;
    overflow: hidden;
}
input[type="button"],
input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
input[type="button"]:hover,
input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}
/*----------------------------------------------------
Misc
-----------------------------------------------------*/

/* .details: Susan Buck Foobooks */
.details {
    font-size:1.1rem;
    font-size:11px;
    font-style:italic;
    text-align: center;
    color: red;
}
